.svn/
*.o
*.a
*.so
*.so.*

chkpnt/echkpnt
chkpnt/erestart
eauth/eauth
lsbatch/bhist/bhist
lsbatch/cmd/badmin
lsbatch/cmd/bbot
lsbatch/cmd/bchkpnt
lsbatch/cmd/bhosts
lsbatch/cmd/bjobs
lsbatch/cmd/bkill
lsbatch/cmd/bmgroup
lsbatch/cmd/bmig
lsbatch/cmd/bmod
lsbatch/cmd/bparams
lsbatch/cmd/bpeek
lsbatch/cmd/bqueues
lsbatch/cmd/brequeue
lsbatch/cmd/brestart
lsbatch/cmd/bresume
lsbatch/cmd/brun
lsbatch/cmd/bstop
lsbatch/cmd/bsub
lsbatch/cmd/bswitch
lsbatch/cmd/btop
lsbatch/cmd/bugroup
lsbatch/cmd/busers
lsbatch/daemons/mbatchd
lsbatch/daemons/sbatchd
lsf/lim/lim
lsf/lsadm/lsadmin
lsf/lstools/lsacct
lsf/lstools/lseligible
lsf/lstools/lshosts
lsf/lstools/lsid
lsf/lstools/lsinfo
lsf/lstools/lsload
lsf/lstools/lsloadadj
lsf/lstools/lsmon
lsf/lstools/lsplace
lsf/lstools/lsrcp
lsf/pim/pim
lsf/res/nios
lsf/res/res

